<h2>Give here url link</h2>
<%#= @user.email %>
<div>
  Dear <b><%= @user.name %></b>,
  Click <%= link_to 'here', edit_password_url(@user, :reset_password_token => @user.reset_password_token) %> to log in to "User Tasks Management System" and set a password.
  <br/>
</div>
