<div class="modal-header">
  <h3>Today's Attendence</h3>
</div>
<%= form_for @attendence, :url=> admin_attendances_path, :method => "POST" do |f| %> 
  <%= render :partial=>'form',:locals => {:f=>f} %>
<% end %>




