<%= form_for @assign_class, :url=>assign_teacherclass_admin_student_path(@user.id, admin_id: @user.admin_id) do |f| %>
  <div class="column"> 
    <p> <label> Class: </label>                                                                                                                                                   
      <%#= f.select :batch_id, options_for_select([["Select", ""]] + Batch.all.map{|ic| [ic.batch_name,ic.id]}), :onchange => "GetSubjects(this.value)", :class => "form-control" %>
  <%= select_tag :batch_id,  options_for_select([["Select", ""]] + Batch.where("admin_id=?",current_admin.id).map{|ic| [ic.batch_name,ic.id]}), :onchange => "GetSubjects(this.value)" %>
    </p>
  </div>
  <div class="column" id="subjects">
    <p> <label> Subject: </label>
      <%=  select_tag :subjects, options_for_select([["Select", ""]])%>
    </p>
  </div>
  <%= f.submit "Save" %>
<% end %>

<script>
    
  function GetSubjects(sub) {
  $.ajax({
    url: "/admin/students/" + sub + "/assign_subject/",
    method: "GET",
    dataType: "script",
    success: function(date) {

    }
  });
}
</script>