/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
*= require bootstrap-multiselect
*= require_self
*= require_tree .
 */

#overlay{
    display: none;
    background-color:#000000;
    height:500px;
    left:0;
    position:fixed;
    top:0;
    width:100%;
    z-index: 1030;
    width: 100000px;
    height: 941px;
    opacity: 0.5;
}

#popup_box {
    display: none;
    font-size: 11px;
    height: 404px;
    left: 370px;
    text-align: left;
    padding: 15px;
    position: absolute;
    top: 0px;
    width: 43%;
    z-index: 1031;
    background-repeat: repeat;
    -moz-border-radius :10px;
}


.pagination {
  background: white;
  cursor: default;
  /* self-clearing method: */ }
  .pagination a, .pagination span, .pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1; }
  .pagination a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5; }
  .pagination a:hover, .pagination a:focus {
    background: white;
    color: #000044;
    border-color: #000044; }
.pagination .pagination_links {
    margin: 0 auto;
    width: 70%;
    text-align: center;
}
  .pagination .page_info {
    margin: 0 auto;
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em; }
  .pagination .page_info b {
    color: #000033;
    background: #6aa6ed;
    padding: 0.1em 0.25em; }
  .pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .pagination {
    height: 1%; }
  *:first-child + html .pagination {
    overflow: hidden; }