<div class="modal-header">
  <h3>New Mark List</h3>
</div>
<%= form_for  @mark_report, :url => admin_markreports_path, :method => "POST" do |f| %> 
  <%= render :partial=>'form',:locals => {:f => f} %>
<% end %>

